# 6.27, 6.28, 6.29 DataFrames  (Pierian Data)

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

Setting up sample data

In [3]:
np.random.seed(101)

In [25]:
df = pd.DataFrame(data= randn(5,4),index=['A','B','C','D','E'],columns=['W','X','Y','Z'])

In [26]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

## Getting Column

In [7]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

## Getting Element

In [10]:
df['W']['A']

2.706849839399938

## If you want many columns

In [11]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

## Adding new column

In [27]:
df['NEW'] = df['W'] + df['Y']

In [28]:
df

          W         X         Y         Z       NEW
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

# Removing Column
Axis 1 is column, Axis is rows

In [29]:
df.drop('NEW', axis = 1 )

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [30]:
df

          W         X         Y         Z       NEW
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

*inplace* means copy the drop data frame into the original data frame

In [31]:
df.drop('NEW', axis = 1, inplace=True)

In [32]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652